* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #222;
  font-size: 1rem;
}

main {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 25px;
}

div.post div.texts h2 {
  font-size: 1.5em;
}

div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.summary {
  margin: 10px 0;
}